@tailwind base;
@tailwind components;
@tailwind utilities;


.banner__wrapper {
    z-index: 9999;
    position: fixed;
    overflow: hidden;
    height: 100px;
}

.banner {
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner p {
    padding-left: 10px;
}

.banner2 {
    animation-delay: 15s;
}


@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%
    }
}